{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'index/def_head.html' %}
    <script src="{% static  'osa_settings/js/osa_settings.js' %}"></script>
    <link rel="stylesheet" href="{% static 'osa_settings/css/osa_settings.css' %}">
    <link rel="stylesheet" href="{% static 'osa_settings/css/bootstrap-icons.css' %}">
    <title>Настройки OSA</title>
</head>
<header>
    {% include 'index/navbar.html' %}
</header>
<div class="preloader hidden">
    <div></div>
</div>
<body>
<div id='block1' class="container-fluid">
    <div class="row row-title">
        <div class="col">
            <h7>Подключение к базе данных</h7>
        </div>
    </div>
    <div class="row" id="connect-row">
        <form>
            {% csrf_token %}
            <div class="col-12 col-md-6 mb-3">
                <label for="server-ip" class="form-label">Сервер базы данных</label>
                <input type="text" class="form-control" id="server-ip" name="server_ip"
                       placeholder="{{ osa_settings.server_name }}/{{ osa_settings.port }}" required
                       {% if is_run %}disabled{% endif %}>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label for="database_name" class="form-label">Путь к базе данных</label>
                <input type="text" class="form-control" id="database_name" name="database_name"
                       placeholder="{{ osa_settings.path2base }}" required {% if is_run %}disabled{% endif %}>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 mb-3 col-md-12">
                <button id='connect-bd' class="btn btn-success" type="button" {% if is_run %}disabled{% endif %}>Connect
                    to base
                </button>
                <input name='event' type="text" class="hidden" value="connect2base">
                <div id="connect2base" class="invalid-feedback">
                    No connect
                </div>
            </div>
        </form>
    </div>

</div>
<div id="block2" class="container-fluid">
    <div class="row row-title">
        <div class="col">
            <h7>Создание пользователя</h7>
        </div>
    </div>
    <div class="row">
        <form>
            {% csrf_token %}
            <div class="col-12 col-md-4 mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="Иванов" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <label for="pw_1" class="form-label">Password</label>
                <input type="password" class="form-control" id="pw_1" name="pw_1"
                       placeholder="Password" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <label for="pw_2" class="form-label">Repeat Password</label>
                <input type="password" class="form-control" id="pw_2" name="pw_2"
                       placeholder="Repeat Password" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 mb-3 col-md-12">
                <button id='user-add-button' class="btn btn-success" type="button">Add user</button>
                <input name='event' type="text" class="hidden" value="add_user">
                <div id="add_user" class="invalid-feedback">
                    No connect
                </div>
            </div>
        </form>
    </div>
</div>
<div id="block3" class="container-fluid">
    <div class="row row-title">
        <div class="col">
            <h7>Список пользователей</h7>
        </div>
    </div>
    <div class="row row-data">
        <table id="users-list-table" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">is_staff</th>
                <th scope="col">date_joined</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.is_staff }}</td>
                    <td>{{ user.date_joined| date:"d/m/Y H:i" }}
                        <div class="buttons">
                            <button id="del-button" title="Удалить" data-event="del_user"
                                    data-alias="{{ user.username }}" data-id="{{ user.id }}"
                                    data-url="{% url 'OSA_settings:index' %}"><i class="bi bi-x-lg"></i></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'index/modal.html' %}

</body>
</html>