{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'index/css/media.css' %}">
<!-- Bootstrap CSS -->
<link href="{% static 'index/css/bootstrap.min.css' %}" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="{% static 'index/js/jquery.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="{% static 'index/js/script_new.js' %}"></script>
<script src="{% static 'index/js/air-datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'index/bootstrap-icons.css' %}">
<link rel="stylesheet" href="{% static 'index/style.css' %}?3">
<link rel="stylesheet" href="{% static 'index/css/blink_text.css' %}">
<link rel="stylesheet" href="{% static 'index/css/preloader.css' %}">
<link href="{% static 'index/css/air-datepicker.css' %}" rel="stylesheet" type="text/css">
