{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'index/def_head.html' %}
    <link rel="stylesheet" href="{% static 'searchfio/css/searchfio.css' %}">
    <script src="{% static 'searchfio/js/searchfio.js' %}"></script>
    <title>Просмотр ФИО</title>
</head>
<header>
    {% include 'index/navbar.html' %}
</header>
<body>
<div class="container-fluid">
    <div class="col">
        <div class="row">
            <form id="search-fio">
                {% csrf_token %}
                <div class="input-group mt-2">
                    <input type="text" name="last_name" placeholder="Фамилия" aria-label="Фамилия" class="form-control">
                    <input type="text" name="first_name" placeholder="Имя" aria-label="Имя" class="form-control">
                    <input type="text" name="patronymic" placeholder="Отчество" aria-label="Отчество" class="form-control">
                    <button class="btn btn-outline-success" type="button" id="button-addon2">Search</button>
                </div>
                <input name="event" type="text" value="search_fio" style="display: none;" aria-label="Input event">
            </form>
        </div>
    </div>
</div>
<div class="fatal-error-block hidden container-fluid">
    <div class="row">
        <div class="col">
            <h5 id="error_txt"></h5>
        </div>
    </div>
</div>
<div id="block-result-view" class="row mt-2">
    <div class="col">
        <div class="custom-panel">
            <div class="header-panel">
                <h4>Результаты</h4>
            <!--
                <div id="save-result-block" class="{% if not page_nav %}hidden{% endif %}">
                    <button class="btn btn-outline-light" data-download="{% url 'search_numbers:download_excel' %}"><i class="bi bi-file-earmark-excel"></i></button>
                </div>
             -->
            </div>
            <div class="body-panel">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Paragraph</th>
                        <th scope="col">Document</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% include 'searchfio/fio_view.html' %}
                    </tbody>
                </table>
            </div>
            <div class="mt-2" id="pagination-block"> {{ page_nav }}</div>
        </div>
    </div>
</div>
<div class="preloader hidden">
    <div></div>
</div>
</body>
</html>